<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <header>
      <form method="GET" action="/profile">
        <button name="profile" type = "submit">PROFILE</button>
      </form>
    </header>

    <h1>SEARCH FORM</h1>
    <h2>Button = EAT & Button = WATCH & Button = READ & Button = BUY</h2>

    <footer>
          <form method="POST" action="/logout">
          <button name="logout" type = "submit">LOGOUT</button>
        </form>
    </footer>


    <h1>Hello World!</h1>
    <p>
      <form action="/userInput" method="POST">
      <input id ="city" value="London" name ="userData"></input>
      </form>

      <% if (first === ''){%>
      <%= first%>


    <%}
    else{%>
    <%first%>

    <%= first%>
    something to show

     <%} %>

    </p>


  </body>
</html>
