<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"> <!--pure CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> <!--Font Awesome Icons -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>This is where you view your profile - including editing details.</h1>

   <form action="/profile/:id" method="POST" class="pure-form">
    <fieldset>
            <input type="text" class="pure-input-rounded" name="email" placeholder="Email" />
            <input class="pure-input-rounded" type="password" name="password" placeholder ="Password" />

        <form method="POST" action="/profile/:id">
          <button class="pure-button" >
            <i class="far fa-edit"></i>UPDATE PROFILE
          </button>
        </form>

          <form method="POST" action="/profile/:id/delete">
            <button class="pure-button">
              <i class="fas fa-minus-circle"></i>DELETE ACCOUNT
            </button>
        </form>

    </fieldset>
  </form>

  </body>
</html>